.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./31367.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./1g0goxhzz3yntjos.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./shutterstock_1933690058.jpg);
}
